* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(84, 115, 146);
}

.card{
  width:300px;
  margin: 20px;
  height: 50%;
}

section{
  background-image: url("/public/images/barner.avif");
  background-size: cover;
  height: 500px;
  width: 1347px;
  background-repeat: no-repeat;
}
.cardimg{
  height: 200px;
}


.blog-list{
  display: flex;
  flex-wrap: wrap;
  height: 300px;
}







